*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.table{
    border: 1px solid grey;
    width: 80vw;
    margin: 1.5rem auto;
}

/* Register Page Styles */

#register, #userdata{
    width: 80vw;
}

#register input, #userdata input{
    width: 50vw;
    outline: none;
}

.formhead{
    background-color: var(--lightBlue);
}

/* Login Page Styles */
#login{
    width: 50vw;
}

.form-select{
width: 50vw;
}

/* Userdata */
#yearTable{
    width: 50vw;
}

.years{
    cursor: pointer;
}

.years:hover{
    background-color: aliceblue;
}
